  <div class="two columns">
    <select name="shelf">
      <% @shelves.each do |shelf| %>
        <option value="<%= shelf.id %>"><%= shelf.name %></option>
      <% end %>
    </select>
  </div>
  <div class="three columns">
    <% if @fanfic %><p>Title:</p><% end %>
    <input type="text" placeholder="Title" name="title" value="<%= @fanfic ? @fanfic.title : nil %>">
  </div>
  <div class="three columns">
    <% if @fanfic %><p>Author:</p><% end %>
    <input type="text" placeholder="Author" name="author" value="<%= @fanfic ? @fanfic.author : nil %>">
  </div>
  <div class="three columns">
    <% if @fanfic %><p>URL:</p><% end %>
    <input type="text" placeholder="URL" name="url" value="<%= @fanfic ? @fanfic.url : nil %>">
  </div>
  
