
<div class="coffin">
  <div class="pillow">Shelves</div>
  <div>
    <div class="shelf-wrapper">
      <form method="post" action="/shelf/new">
        <div>
          <input type="text" placeholder="Shelf name" name="name" value="<% @shelf && @shelf.name %>">
        </div>
        <div>
          <input type="submit" value="Create shelf" >
        </div>
      </form>
    </div>
    <div class="shelf-wrapper">
      <% @shelves.each do |shelf| %>
        <p class="shelf-name"><%= shelf.name %></p>
        <form method="post" action="/shelf/<%= shelf.id %>/delete">
          <input type="submit" value="Delete Shelf" >
        </form>
      <% end %>
    </div><!--shelf-wrapper-->
  </div><!--columns-->
</div>

<div class="page">
  <div class="container">
    <div class="row">
      <div class="offset-by-ten columns">
        <h3> Hi <%= @user.name %> </h3>
        <form method="post" action="/logout">
          <input type="submit" value="Logout">
        </form>
      </div><!--column-->
    </div><!--row-->
    <a href="javascript:location.href='http://localhost:3000/submit?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title)" onclick="alert('drag to your toolbar')">Bookmarklet</a>
    <div class="row">
        <div class="offset-by-eight columns">
          <%= erb :'user/_add_fanfic' %>
        </div><!--columns-->
      </div><!--row-->
    <section class="fanfics row">
      <div class="twelve columns">
        <% @shelves.each do |shelf| %>
          <h3><%= shelf.name %></h3>
          <% shelf.fanfics.each do |fanfic| %>
            <div class="fanfic-wrapper">
              <a href="<%= fanfic.url %>" target="_blank">
                <div class="fanfic">
                  <p><%= fanfic.title %></p>
                </div>
              </a>
              <form method="post" action="/fanfic/<%= fanfic.id %>/delete">
                  <input type="submit" value="Delete Fanfic" >
              </form>
            </div>
          <% end %>
        <% end %>
      </div><!--columns-->
    </section><!--row-->

    
  </div>
</div>

