<h1> Hi <%= @user.name %> </h1>

<form method="post" action="/logout">
  
    <input type="submit" value="Logout" >

</form>

<form method="post" action="/shelf/new">
  <div>
    <label>Shelf name:</label>
    <input type="text" name="name" value="<% @shelf && @shelf.name %>">
  </div>
  <div>
    <input type="submit" value="Create shelf" >
  </div>
</form>

<% @shelves.each do |shelf| %>
  <p><a href="/shelf/<%=shelf.id %>"><%= shelf.name %></a></p>

<form method="post" action="/shelf/<%= shelf.id %>/fanfic/new">
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="<% @fanfic && @fanfic.title %>">
  </div>
  <div>
    <label>Author</label>
    <input type="text" name="author" value="<% @fanfic && @fanfic.author %>">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="url" value="<% @fanfic && @fanfic.url %>">
  </div>
  <div>
    <input type="submit" value="Create Fanfic" >
  </div>
</form>
<% shelf.fanfics.each do |fanfic| %>
  <p><%= fanfic.title %></p>
<% end %>
<% end %>

